services:
  redis:
    image: redis/redis-stack:latest
    container_name: npmview-stack
    ports:
      - "6380:6379"
      - "8001:8001"
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data: